<!DOCTYPE html>
<html>

<head>



</html>


<!DOCTYPE html>
<html lang="es">

<head>
	<title>Registro</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="login/images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="login/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="login/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="login/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="login/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="login/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="login/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="login/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="login/css/util.css">
	<link rel="stylesheet" type="text/css" href="login/css/main.css">
	<!--===============================================================================================-->
	<style>
		.swal2-popup {
			font-size: 1.6rem !important;
		}
	</style>
</head>

<body>


		<form method="post" id="frmRegistroprs">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
				<div class="login100-form validate-form">
					<span class="login100-form-title p-b-37">
						Registro
					</span>

                    <input type="hidden" name="idusar" id="idusar">


					<div class="wrap-input100 validate-input m-b-20" data-validate="Ingresa Nombre ">
						<input class="input100" type="text" id="inpNombre" name="inpNombre" placeholder="Nombre" >
						<span class="focus-input100"></span>
					</div>
	
					<div class="wrap-input100 validate-input m-b-25" data-validate="Ingresa Apellido">
						<input class="input100" type="text" id="inpApellido" name="inpApellido" placeholder="Apellido">
						<span class="focus-input100"></span>
					</div>

                    <div class="wrap-input100 validate-input m-b-25" data-validate="Ingresa ci">
						<input class="input100" type="text" id="inpci" name="inpci" placeholder="ci">
						<span class="focus-input100"></span>
					</div>

                    <div class="wrap-input100 validate-input m-b-25" data-validate="Ingresa direccion ">
						<input class="input100" type="text" id="inpdireccion" name="inpdireccion" placeholder="direcc">
						<span class="focus-input100"></span>
					</div>

                    <div class="wrap-input100 validate-input m-b-25" data-validate="Ingresa telefono">
						<input class="input100" type="text" id="inptelefono" name="inptelefono" placeholder="telefon">
						<span class="focus-input100"></span>
					</div>

                    <div class="wrap-input100 validate-input m-b-25" data-validate="Ingresa correo ">
						<input class="input100" type="text" id="inpcorreo" name="inpcorreo" placeholder="corre">
						<span class="focus-input100"></span>
					</div>


					<div class="wrap-input100 validate-input m-b-25" data-validate="Ingresa Usuario">
						<input class="input100" type="text" id="inpUsuario" name="inpUsuario" placeholder="Usuario">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-25" data-validate="Ingresa Contraseña">
						<input class="input100" type="password" id="inpContrase" name="inpContrase" placeholder="Contraseña">
						<span class="focus-input100"></span>
					</div>
				
					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							Registrarse
						</button>
					</div>
	
					<div class="text-center p-t-57 p-b-20">
						<span class="txt1">
					
						</span>
					</div>
	
					<div class="flex-c p-b-112">
						
					</div>
	
	
				</div>
	
			</div>
		</form>
	
	</div>



	<div id="dropDownSelect1"></div>

<!--fin de restrablecer contraseña -->

	<!--===============================================================================================-->
	<script src="login/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="login/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="login/vendor/bootstrap/js/popper.js"></script>
	<script src="login/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="login/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="login/vendor/daterangepicker/moment.min.js"></script>
	<script src="login/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="login/vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="login/js/main.js"></script>
	<!--=======================================ALERTAS JAVASCRIOT==========================================-->
	<script src="scripts/librerias/sweetalert2@9.js"></script>
	<!--=======================================JS USUARIO==========================================-->
	<script type="text/javascript" src="scripts/registropr.js"></script>

</body>

</html>